The Game must be developed using the Unity Game Engine,Game Engine,Ubiquitous,The game shall be developed using unity game engine,,ubiquitous,The game shall be developed using unity game engine,Game,Mobile app
The Game must be programmed using the C language and its libraries compatible with the Unity Engine,Language,Ubiquitous,The game shall be written in C and use Unity Engine-compatible libraries.,,ubiquitous,The game shall be written in C# and use Unity Engine-compatible libraries.,Game,Mobile app
The Game must feature accurate sound effects and music that conveys the atmosphere correctly,Audio,Ubiquitous,The Game shall feature accurate sound effects and music that conveys the atmosphere correctly,,ubiquitous,The Game shall feature accurate sound effects and music that conveys the atmosphere correctly,Game,Mobile app
The Game must be playable using the keyboard keys and mouse,Control,Ubiquitous,The game shall be playable using mouse and keyboard.,,ubiquitous,The game shall be playable using mouse and keyboard.,Game,Mobile app
The Game must offer a compelling story which will convey a special message to the players,Story,Ubiquitous,The Game shall offer a compelling story which will convey a special message to the players,,ubiquitous,The Game shall offer a compelling story which will convey a special message to the players,Game,Mobile app
The Game must implement AI for the enemies and NPC to offer a complete experience,AI,Ubiquitous,The Game shall implement AI for the enemies and NPC to offer a complete experience,,ubiquitous,The Game shall implement AI for the enemies and NPC to offer a complete experience,Game,Mobile app
The Game must challenge the user to think and build strategies to complete the game,Gameplay,Ubiquitous,The Game shall challenge the user to think and build strategies to complete the game,,ubiquitous,The Game shall challenge the user to think and build strategies to complete the game,Game,Mobile app